@media (pointer: coarse){
.header{
  position: fixed;
  z-index: 5;
  height: 100px;

}
  .pipe{
    display: none;
  }

.nav-links{
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
  font-size: 15px;
  width: 100%;
  position: relative;
}
  .hamburger{
    position: absolute;
    z-index: 10;
    display: block;
    color: white;
    opacity: 0.6;
    margin : 15px 15px 0 0;
    right:  20px;
  }

.nav-links a{
  text-decoration: none;
}
li{
  text-decoration: none;
}
.nav-link{
  display: none;
  background-color: white;
  margin-right: 20px;
  color: #555555;
  width: 100%;
  text-decoration: none;
  height: 95px;
  justify-content: center;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: transparent;

}
  .deco-plus{
    display: none;
  }

}
