@media (pointer: fine){/******************************************
 * Header
 ******************************************/
.header{
  position: absolute;
  z-index: 2;
  height: 100px;
  border-bottom-width: 1px;
  border-bottom-color: white;
  border-bottom-style: solid;
}
  .hamburger{
    display: none;
  }
  .pipe{
    display: none;
    margin-right: 20px;
    display: flex;
    color: rgba(255,255,255,0.6);

    text-decoration: none;
    height: 95px;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-color: transparent;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

.nav-links{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  list-style: none;
  font-size: 15px;
}
.nav-links a{
  text-decoration: none;
}
li{
  text-decoration: none;
}
.nav-link{
  margin-right: 20px;
  display: flex;
  color: rgba(255,255,255,0.6);

  text-decoration: none;
  height: 95px;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: transparent;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

  .nav-link:hover{
    border-color: white;
    color: white;


  }
.highlighted-nav-item{

}

.selected-nav-item{


}
.align-right{
  margin-left: auto;
}
.deco-plus{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  color: black;
  background-color: white;
  border-radius: 100%;
  height: 12px;
  width: 12px;
}


/********************
 * Alternatives - Responsive
 ********************/
}
