/******************************************
 * Elements
 ******************************************/
@import "header";
@import "nav";
@import "footer";
@import "order-section";
@import "sale-chart";
@import "all-products";
@import "../responsive/main";
@import "../responsive/header";
@import "../responsive/sale-chart";
@import "../responsive/best-sellers";
@import "../responsive/news";
@import "../responsive/command-history";
@import "../responsive/all-products";
@import "../responsive/footer";

/******************************************
 * Layout base styles
 ******************************************/
@media (pointer: fine){
main {
  display: block;
}
.content-center-align{
  width: 100%;
  display: flex;
  justify-content: center;
}
.section-content{
  width: 925px;
  postion: relative;
  margin: 0 auto 0 auto ;
}
.col-display{
  display: flex;
  flex-direction: column;
}
.row-display{
  display: flex;
  flex-direction: row;
}


.product-section-content{
  postion: relative;
  z-index: 1;

}
/*product section*/
.product{
  overflow: hidden;
  position: relative;
  background-color: #009f55;
  height: 350px;
  padding-top: 100px;
  padding-bottom: 50px;
  /*background-image: url("/static/Product.png");
  background-repeat: no-repeat;
  background-position: center;*/
}
.product-image{
  margin: -100px auto 0 auto;
  height: 691px;

  position: absolute;
  top: 253px;
  z-index: 0;

}
.product-info{
  color: white;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-name{
  font-size: 14px;
}
.product-specs{
  font-size: 11px;
}
.order-button{
  margin-top: auto;
  width: 150px;
  height: 35px;
  background-color: transparent;
  color: white;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px ;
}
.border-red{
  border-color:#ff3f0c ;
}
.border-grey{
  border-color:#d6d6d6 ;
}
.border-green{
  border-color:#0cff56 ;
}
.grey-bg{
  background-color: #d6d6d6;
}
.red-bg{
  background-color: #ff3f0c;
}
.green-bg{
  background-color:#0cff56 ;
}
.green-text{
  color: #0cff56;
}
.grey-text{
  color: #555555;
}
/*best seller section*/

.best-sellers{
  position: relative;
  z-index: 2;
  padding-top: 50px ;
  padding-bottom: 42px ;
  background-color: white;
}
.best-seller-header{
  color: #555555;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;


}
.section-title{
  font-size: 24px;
}
.sort-field{

}
.sort-label{
}
.sort-select{
  height: 35px;
  width: 115px;
  box-shadow: 1px 1px 1px #a6a6a65f, 2px 1px 1px #a6a6a610;
  appearance: none;
  padding: 0 5px 0 5px;


}
.white-sort{
  background-image: url("/static/sort-arrow-grey.PNG");
  background-repeat: no-repeat;
  background-position: right;
}


.product-slider{
  display: flex;
  align-items: center;
  position: relative;
}
.slider-arrow{
  border: none;
  background-color: transparent;
}
.left-arrow{
  position: absolute;
  left: -65px;
}
.right-arrow{
  position: absolute;
  left:955px;
}
.slider-content{
  display: flex;
  flex-direction: row;

}
.product-card{
  width: 180px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

}
.product-card-image{
  width: 150px;
  height: 88px;
  background-color: #e6e6e6;
  padding: 15px;
}
.product-card-info{
  background-color: #efefef;
  color: #555555;
  padding: 15px 11px 0 15px;
  border-bottom-color: #d6d6d6;

  border-bottom-style: solid;
  border-bottom-width: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;

}
.product-card-specs{

  background-color: #efefef;
  color: #555555;
  font-size: 11px;
  margin-bottom: 10px;
}
.product-info-title{
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 13px;

}
.product-stock{

  color: #c6c6c6;
  font-size: 11px;
  align-self: flex-end;
  margin-bottom: 8px;

}
.red-border{
  border-bottom-color: #ff3f0c;

}
.red-text{
  color: #ff3f0c;
}



/*news section*/
.news{
  height: 470px;
  background-color: #0cff56;
  display: flex;

  position: relative;
  z-index: 2;

  flex-direction: column;
  align-items: center;

  clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
  flex-shrink: 0;
}
.news-content-center-align{
  display: flex;

  flex-direction: column;
  align-items: center;
}
.news-section-title{
  padding-top: 83px;
  font-weight:bold;
  font-size: 14px;
  margin-bottom: 43px;

}
.news-slider{

}
.news-item{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.news-image{
  margin-right: 25px;

}
.news-content{
  width: 350px;
  margin-left: 25px;

}
.news-title{
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
}
.news-text{
  height: 106px;
  font-size: 14px;
}
.news-thumbnail{
  height: 38px;
  width: 38px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border:white solid 1px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.big-one{
  border:#555555 solid 2px;

  height: 45px;
  width: 45px;
}
.order-button{

}
.black{
  color: black;
  border-color:black ;

}
.news-thumbnail-list{
  padding-left: 0px;
  margin-top: 38px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.news-thumbnail{
  margin-left: 5px;
  margin-right: 5px;
}
}
