/******************************************
 * Breakpoint const
 ******************************************/

/********************
 * Desktop
 ********************/
$breakpoint-desktop: 1920px;
$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-phablet: 600px;

/********************
 * Mobile
 ********************/
$breakpoint-mobile-l: 425px;
$breakpoint-mobile-m: 375px;
