/******************************************
 * Color const
 ******************************************/

/********************
 * Brand
 ********************/
$color-ocitocine: #142D75;

/********************
 * Main
 ********************/
$color-background: #FFFFFF;
$color-text: #000000;
